body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  color: violet;
}

@font-face {
  font-family: "Hanson";
  src: local("fonts"),
   url("./fonts/Hanson-Bold.ttf") format("truetype");
  font-weight: bold;
  }
  @font-face {
    font-family: "MicroSquareB";
    src: local("fonts"),
     url("./fonts/MicroSquare-Bold.ttf") format("truetype");
    font-weight: bold;
    }

    @font-face {
      font-family: "MicroSquareR";
      src: local("fonts"),
       url("./fonts/MicroSquare-Regular.ttf") format("truetype");
      
      }