.dome{
    /* margin: 10% -25% 0;  */
    border-top-left-radius: 100%;
    border-top-right-radius: 100%; 
    margin: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    padding: 10px;
    min-width: 231px;
    

}

.sigmaverse{
    /* padding-left: 10px;
    padding-right: 10px; */
    padding-top: 25px;
    color: white;
    line-height: 1.13px;
    letter-spacing: 0.3;
    
}
.sigmaver-sub{
    color:white;
    padding-left: 17px;
    padding-right: 17px;
    margin-bottom: 0px;
    
}

p{
    margin-bottom: 0ch;
}
.button-sigma{
    min-width: 160px;
    font-size: larger;
    border-radius: 17px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: white;
    border-style: solid;
    margin: 10px;
    margin-bottom: 0px;
    
}
.button-copy{
    background: none;
    display: block;
    margin-top: 0px;
    
}
.wallet{
    font-size: 30px;
    font-weight: 700;
    border-radius: 17px;
    padding-left: 30px;
    padding-right: 30px;
    border-color: white;
    border-style: solid;
    margin: 25px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    color: white;
    line-height: 1.13px;
    min-width: 320px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    
}

.btn-primary:hover {
    border-color: blueviolet;
    background: none;
    color: black;
    
}

.buttons-container{
    
    
    display: flex;
    justify-content: space-evenly;
}

.background{
    
    min-width: 375px;
    min-height: 812PX;
    width: 100% ;
    background-image: url('../assets/BANNER (2).png')  ;
    display: grid;
}

.MW{
    min-width: 375px !important;
    
}

.sigma-container{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 112.6%;
/* or 34px */

    text-align: center;
    letter-spacing: 0.225em;

}

.container-key{
    display: grid
}


@media only screen and (max-width: 1199px) {
    .desktop{
        display: none
    }
    
}
@media only screen and (min-width: 1199px) {
    .mobile{
        display: none
    }
    
}
@media only screen and (min-width: 900px){
    .extender{
        margin-left: 300px;
        margin-right: 300px;
    }
}