.dome{
    /* margin: 10% -25% 0;  */
    border-top-left-radius: 100%;
    border-top-right-radius: 100%; 
    margin: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    padding: 10px;

}

p{
    margin-bottom: 0ch;
}
button{
    font-size: larger;
    border-radius: 17px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-color: white;
    border-style: solid;
}
.wallet{
    font-size: 30px;
    font-weight: 700;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-color: white;
    border-style: solid;
    margin: 25px;
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.buttons-container{
    display: flex;
    justify-content:space-evenly;
    
}
/* destkopstyles */
@media only screen and (max-width: 375px){

}